@reference "tailwindcss";

:host {
  @apply absolute text-white flex justify-end pt-[15px] pr-[15px] w-lvw z-800;

}

.button {
  @apply font-medium rounded-[20px] cursor-pointer hover:opacity-85 active:opacity-85;

}

.form {
  @apply flex flex-col justify-between h-auto w-full;

}

.input {
  @apply h-[40px] w-full pl-[5px] border-2 border-solid border-white rounded-[5px] outline-none;

}

.input:placeholder-shown {
  @apply opacity-50;

}

.button-submit {
  @apply bg-white font-medium text-black h-[34px] rounded-[15px] hover:opacity-80 active:opacity-80 disabled:opacity-50 cursor-pointer;

}

