@reference "tailwindcss";

:host {
  @apply block text-white z-500;

}

.search {
  @apply h-full w-full pr-[40px] pl-[10px] border-2 border-solid border-white placeholder:text-[#c7c7c7] outline-none;

}
