@reference "tailwindcss";

:host {
  @apply relative block text-white z-500;

}

.search {
  @apply h-full w-full pl-[10px] border-2 border-solid border-white placeholder:text-[#c7c7c7] outline-none;

}
