@reference "tailwindcss";

@utility arrow-style {
  @apply flex items-center justify-center h-[45px] w-[45px] border-2 border-solid border-gray-400 text-white font-bold  rounded-full;

}

@utility arrow-enabled {
  @apply active:bg-[#3d3d3d] hover:bg-[#3d3d3d] cursor-pointer;

}

@utility arrow-disabled {
  @apply active:bg-transparent hover:bg-transparent opacity-50 cursor-default;

}

:host {
  @apply block;

}

.arrow {
  @apply arrow-style arrow-enabled disabled:arrow-disabled;

}
