@reference "tailwindcss";

@utility bg-gradient-linear {
  background-image: linear-gradient(to bottom right, oklch(92.8% 0.006 264.531) 0%, oklch(87.2% 0.01 258.338) 25%, oklch(70.7% 0.022 261.325) 50%, oklch(55.1% 0.027 264.364) 75%, oklch(44.6% 0.03 256.802) 100%);

}

@utility h1-media-lg {
  @media ((min-width: 980px) and (max-width: 1199px)) {
    display: block;

  }

}

@utility div-container {
  @media (min-width: 1200px) {
    height: 100%;
    width: 500px;

  }

  @media ((min-width: 980px) and (max-width: 1199px)) {
    height: 100%;
    border-radius: none;

  }

  @media ((min-width: 750px) and (max-width: 979px)) {
    width: 400px;

  }

}


:host {
  @apply relative h-lvh w-lvw bg-[image:url('../banners/banner.avif')] text-white bg-cover bg-center bg-no-repeat flex items-center justify-center overflow-hidden;

}

.bg-gradient-linear {
  @apply bg-gradient-linear;

}

.container-logo {
  @apply relative flex flex-col items-center justify-center gap-2.5 h-[200px] w-[400px];

}

.logo {
  @apply flex items-center justify-center rounded-[20px];

}

.show {
  @apply min-[1200px]:block h1-media-lg;

}

.container-section {
  @apply div-container h-[570px];

}

.label {
  @apply absolute left-1.5;

}

.input {
  @apply border-b-2 border-solid border-[#99a1af] h-[35px] p-[5px] outline-none active:bg-none focus:bg-none hover:bg-none bg-transparent;

}

.valid {
  @apply border-green-500;

}

.invalid {
  @apply border-red-600;

}
