@reference "tailwindcss";
@reference "../../utils/utills.css";

:host {
  @apply absolute flex justify-end h-[650px] w-lvw top-0;

}

.header {
  @apply relative flex flex-col justify-between max-[979px]:bg-secundary-banner bg-main-banner bg-cover bg-top bg-no-repeat h-full p-4! inset-shadow-[0px_0px_70px_25px_#000000c9] overflow-hidden;

}

.nav {
  @apply relative flex items-center justify-between rounded-full;

}

.option {
  @apply relative flex items-center justify-center h-full rounded-full cursor-pointer z-[900];

}

.button {
  @apply bg-linear-[to_right,#951518_0%,#7a1213_25%,#600f10_50%,#470c0c_75%,#340809_100%] flex items-center justify-center h-[50px] w-[190px] rounded-[30px] active:opacity-80 hover:opacity-80 cursor-pointer;

}
