@let XS = responsive.isXs();
@let SM = responsive.isSm();
@let MD = responsive.isMd();
@let LG = responsive.isLg();
@let XL = responsive.isXl();

@let isLarge = LG || XL;
@let isSmall = XS || SM;

<header
      [ngClass]="{
        'header': true,
        'header-no-content': (!headerContents)

      }"
      [ngStyle]="{
      'background-image': (headerContents) ? 'url(' + headerContents[indexHeaderContent].imagesUrl[1] + ')' : '',
      'width': (isSmall) ? '100%' : 'calc(100% - 150px)'

      }">
  <div [ngClass]="'flex justify-between w-full'">
    <div [ngClass]="'h-[40px] w-[40px] select-auto'">
      <img [ngClass]="'h-full w-full pointer-events-none select-auto'" [src]="'favicon.ico'" [alt]="'Logotipo'">

    </div>
    @if (!isSmall) {
      <nav [ngClass]="{
                  'nav': true,
                  'h-[55px] gap-0.5': (isLarge),
                  'h-[50px] gap-[4.7px]': (MD)

                  }">
        @for (option of navOptions; track option.id) {
          <div [ngClass]="{
                          'option': true,
                          'bg-[#e5e5e5]': (option.select && !isShowSearchBar),
                          'w-[130px]': (option.id !== 3 && isLarge),
                          'w-[100px]': (option.id !== 3 && MD),
                          'h-[54px]! w-[54px]': (option.id === 3 && isLarge),
                          'h-[48px]! w-[48px]': (option.id === 3 && MD)

                          }"
                (click)="void selectOption(option.id)"
            >

            @if (option.id !== 3) {
              <p [ngClass]="{
                              'font-medium': true,
                              'text-[0.9em]': (isLarge),
                              'text-[0.8em]': (MD)

                            }" [ngStyle]="{ 'color': (option.select) ? 'black' : 'white' }">
                            @if (!isShowSearchBar) {
                              {{ option.content }}

                            }

                          </p>

            }
            @else {
              @if (isShowSearchBar) {
                <div #searchContainer [ngClass]="'absolute right-0 rounded-full'" [ngStyle]="{
                  'height': (isLarge) ? '55px' : (MD) ? '50px' : '',
                  'width': '100%'

                }">
                  <app-search
                    [height]="'100%'"
                    [width]="'100%'"
                    [input]="{ 'borderRadius': 'calc(Infinity * 1px)', 'paddingRight': '40px' }"
                    (content)="void navigateByContentSearched($event)"

                  >
                  </app-search>

                </div>

              }
              @else {
                <div [ngClass]="'flex items-center justify-center h-full w-full'" (click)="isShowSearchBar = !isShowSearchBar">
                  <img [ngClass]="'h-[24px] w-[24px]'" [src]="option.content + ((option.select) ? 'black.png' : 'white.png')" [alt]="'lupa'">

                </div>

              }

            }

          </div>

        }
        <div [ngClass]="'bg-[#79797936] backdrop-blur-[5px] absolute h-full w-full rounded-full'"></div>

      </nav>

    }

    <div [ngClass]="'relative bg-gray-400 border-white border-2 border-spacing-0.5 p-0.5! h-[45px] w-[45px] rounded-full cursor-pointer'">
      <img [ngClass]="'h-full w-full select-auto pointer-events-none'" [src]="user" [alt]="'foto do usuario'">
      <a [attr.data-testid]="'profile-link'" [ngClass]="'absolute block top-0 h-full w-full z-10'"
          [routerLink]="[
            {
              outlets: { info: [ 'profile' ] }

            }

          ]"></a>

    </div>

  </div>

  @if (headerContents) {
    @let c = headerContents[indexHeaderContent];

    <div [ngClass]="'text-white flex flex-col justify-evenly h-[320px] w-[470px] mb-[30px]!'">
      <h1 [ngClass]="{
                      'text-5xl': (isSmall),
                      'text-6xl': (!isSmall),
                      'font-medium': true

                      }">{{ c.title }}</h1>
      <div [ngClass]="'flex items-center gap-2'">
        <div [ngClass]="'h-[15px] w-[15px] mb-[6px]!'">
          <img [ngClass]="'h-full w-full'" [src]="star" [alt]="'estrela'">

        </div>
        <p>{{ c.rating | number:'1.1-1' }}/10 󠁯•󠁏󠁏 {{ c.genre[0] }} 󠁯•󠁏󠁏 {{ c.year }}</p>

      </div>

      <div [ngClass]="'w-[350px]'">
        <p [ngClass]="'text-justify line-clamp-2 w-full'">
          {{ c.description }}

        </p>

      </div>

      <button [ngClass]="'button'">
        <span [ngClass]="'text-[1.2em] font-normal'">Assistir</span>

      </button>

    </div>

  }

</header>

<router-outlet name="info"></router-outlet>
