@reference "tailwindcss";

@theme {
  @keyframes open-menu {
    to {
      transform: translateX(-270px);

    }
    from {
      transform: translateX(0px);

    }

  }

  @keyframes close-menu {
    to {
      transform: translateX(0px);

    }
    from {
      transform: translateX(-270px);

    }

  }

}

@utility scroll-width-none {
  scrollbar-width: none;

}

@utility animate-open-menu {
  animation: open-menu 0.5s ease-in-out forwards;

}

@utility animate-close-menu {
  animation: close-menu 0.5s ease-in-out forwards;

}

@custom-variant hover-option {
  &:hover {
    @slot

  }

}

:host {
  @apply absolute block h-svh w-0 z-[800];

}

.menu-container {
  @apply text-white absolute flex justify-start h-[42px] w-[91px] z-[800];

}

.menu-img-icon {
  @apply relative flex items-center justify-center h-[35px] w-[35px] rounded-full hover:bg-[#4545458a] active:bg-[#4545458a] cursor-pointer;

}

.img-icon {
  @apply absolute h-[16px] w-[16px];

}

.open-menu {
  @apply animate-open-menu;

}

.close-menu {
  @apply animate-close-menu;

}

.section {
  @apply bg-[#060606] fixed flex flex-col h-full pt-[65px]! pr-[20px]! scroll-width-none overflow-y-auto;

}

.input {
  @apply bg-[#1e1e1e3d] text-white w-[72%] pl-[10px]! border-[1px] border-white outline-none placeholder:text-[#dbdbdb62] rounded-[15px];

}

.options-container {
  @apply flex items-center justify-start h-[44px] w-full pl-[calc(106px*0.5)]! cursor-pointer;

  .options {
    @apply flex items-center h-auto w-auto p-[12px]! rounded-full hover-option:bg-[#6f6f6fad] cursor-pointer;

  }

  .options__icon {
    @apply h-[18px] w-[18px];

  }

}

.most-watched-content, .trending-content {
  @apply flex flex-col gap-[5px] h-[171px] mt-[18px]!;

  .most-watched-content__item, .trending-content__item {
    @apply flex items-center justify-start h-[30px] w-full pl-[calc(106px*0.5)]! cursor-pointer;

  }

}

.trending-content {
  @apply mb-[30px]!;

}

.hover-underline {
  @apply hover-option:underline;

}
