<section [ngClass]="'section'" [ngStyle]="{ 'width': (!isOpen) ? '150px' : '250px' }">
  <div [ngClass]="'menu-container'">
    <div [ngClass]="'menu-img-icon'" (click)="isOpen = !isOpen">
      @if (isOpen) {
        <img [ngClass]="'img-icon'" [src]="xMark" [alt]="'Fechar Menu'">

      } @else {
        <img [ngClass]="'img-icon'" [src]="bars" [alt]="'Abrir Menu'">

      }

    </div>

  </div>

  <ul [ngClass]="'text-white flex flex-col gap-[6px] h-[244px] mt-[30px]!'">
    @for (icon of icons; track icon.id) {
      <li [ngClass]="'options-container'">
        <div [ngClass]="'options'" [ngStyle]="{ 'width': (isOpen) ? '170px' : 'auto' }">
          <img [ngClass]="'options__icon'" [src]="icon.icon" [alt]="icon.name"/>

          @if (isOpen) {
            <p [ngClass]="'text-[0.88em] font-normal self-end m-[2px_0px_0px_12px]!'">{{ icon.name }}</p>

          }

        </div>

      </li>

    }

  </ul>

  @if (isOpen) {
    <hr [ngClass]="'border-[#6f6f6f] w-[70%] mt-[20px]! ml-[calc(75px*0.5)]!'"/>
    <div [ngClass]="'flex w-full pl-[calc(132px*0.5)]! mt-[20px]!'">
      <p [ngClass]="'text-[#848484] text-[0.9em] font-medium w-[118px]'">Mais assistidos</p>

    </div>

    <ul [ngClass]="'most-watched-content'">
      @for (content of mostWatchedContent; track content.id) {
        <li [ngClass]="'most-watched-content__item'">
          <div [ngClass]="'h-[28px] w-[28px] bg-gray-400 rounded-full'"></div>

          <p [ngClass]="'text-white text-[0.9em] font-normal self-center ml-[12px]! hover:underline'">{{ content.name }}</p>

        </li>

      }

    </ul>
    <hr [ngClass]="'border-[#6f6f6f] w-[70%] mt-[20px]! ml-[calc(75px*0.5)]!'"/>
    <div [ngClass]="'flex w-full pl-[calc(112px*0.5)]! mt-[20px]!'">
      <p [ngClass]="'text-[#848484] text-[0.9em] font-medium w-[138px]'">Conteúdos em Alta</p>

    </div>

    <ul [ngClass]="'trending-content'">
      @for (trending of trendingContent; track trending.id) {
        <div [ngClass]="'trending-content__item'">
          <div [ngClass]="trending.color + ' h-[5px] w-[5px] rounded-full'"></div>

          <p [ngClass]="'text-white text-[0.85em] font-normal self-center ml-[12px]! hover:underline'">{{ trending.name }}</p>

        </div>

      }

    </ul>



  }

</section>
