
@let XS = responsive.isXs();
@let SM = responsive.isSm();
@let MD = responsive.isMd();
@let LG = responsive.isLg();
@let XL = responsive.isXl();

@let isSmall = XS || SM;
@let openMenu = isSmall || isOpen;

<div [ngClass]="'menu-container'"
     [ngStyle]="{
        'marginTop': (!isSmall) ? '20px' : '16px',
        'marginLeft': (!isSmall) ? 'calc(110px*0.5)' : 'calc(110px*0.12)'

      }">
  <div [ngClass]="{ 'menu-img-icon': true, 'hover:bg-transparent!': (isSmall && !isOpen), 'fixed!': (isOpen || MD || LG || XL) }"
      [ngStyle]="{ 'height': (!isSmall) ? '35px' : '42px', 'width': (!isSmall) ? '35px' : '42px' }"
      (click)="isOpen = !isOpen">
    @if (!isOpen && !isSmall) {
      <img [ngClass]="'img-icon'" [src]="bars" [alt]="'Abrir Menu'">

    } @else if (isOpen) {
      <img [ngClass]="'img-icon'" [src]="xMark" [alt]="'Fechar Menu'">

    }

  </div>

</div>

<section [ngClass]="{
            'section': true,
            'open-menu': isSmall && !isOpen,
            'close-menu': isSmall && isOpen

          }"
          [ngStyle]="{
          'width': (openMenu) ? '250px' : '150px',
          'transform': (!isSmall) ? 'translateX(0)' : 'translateX(-270px)'

          }">

  @if (isSmall) {
    <div [ngClass]="'flex justify-end w-full gap-[15px]'">
      <input [ngClass]="'input'" [type]="'text'" [name]="'search'" [id]="'search'" [placeholder]="'buscar'">

      <div [ngClass]="'flex items-center justify-center h-[25px] w-[25px] cursor-pointer'">
       <img [ngClass]="'h-full w-full'" [src]="magnifyingGlass" [alt]="'lupa'">

      </div>

    </div>

  }

  <ul [ngClass]="'text-white flex flex-col gap-[6px] h-[244px] mt-[25px]!'">
    @for (icon of icons; track icon.id) {
      <li [ngClass]="'options-container'">
        <div [ngClass]="'options'" [ngStyle]="{ 'width': (openMenu) ? '170px' : 'auto' }">
          <img [ngClass]="'options__icon'" [src]="icon.icon" [alt]="icon.name"/>

          @if (openMenu) {
            <p [ngClass]="'text-[0.88em] font-normal self-end m-[2px_0px_0px_12px]!'">{{ icon.name }}</p>

          }

          <a [ngClass]="'absolute block h-full w-full right-0'" [routerLink]="icon.link"
              [queryParams]="(icon.link) ? { search: icon.option[0]} : null"
              [state]="{
                fromSearch: true,
                mode: 'full',
                catalog: getCatalog(icon.option)

                }"

              >

            </a>

        </div>

      </li>

    }

  </ul>

  @if (openMenu) {
    <div>
      <hr [ngClass]="'border-[#6f6f6f] w-[70%] mt-[20px]! ml-[calc(75px*0.5)]!'"/>
      <div [ngClass]="'flex w-full pl-[calc(132px*0.5)]! mt-[20px]!'">
        <p [ngClass]="'text-[#848484] text-[0.9em] font-medium w-[118px]'">Mais assistidos</p>

      </div>

      <ul [ngClass]="'most-watched-content'">
        @for (content of mostWatchedContent; track content.id) {
          <li [ngClass]="'most-watched-content__item'">
            <div [ngClass]="'h-[28px] w-[28px] bg-gray-400 rounded-full'"></div>

            <p [ngClass]="'text-white text-[0.9em] font-normal self-center ml-[12px]! hover-underline'">{{ content.name }}</p>

          </li>

        }

      </ul>

    </div>
    
    <div>
      <hr [ngClass]="'border-[#6f6f6f] w-[70%] mt-[20px]! ml-[calc(75px*0.5)]!'"/>
      <div [ngClass]="'flex w-full pl-[calc(112px*0.5)]! mt-[20px]!'">
        <p [ngClass]="'text-[#848484] text-[0.9em] font-medium w-[138px]'">Conteúdos em Alta</p>

      </div>

      <ul [ngClass]="'trending-content'">
        @for (trending of trendingContent; track trending.id) {
          <div [ngClass]="'trending-content__item'">
            <div [ngClass]="trending.color + ' h-[5px] w-[5px] rounded-full'"></div>

            <p [ngClass]="'text-white text-[0.85em] font-normal self-center ml-[12px]! hover-underline'">{{ trending.name }}</p>

          </div>

        }

      </ul>

    </div>
  }

</section>
