@reference "tailwindcss";

@utility bg-main-banner {
  background-image: url(../../../../../assets/content/banners/sherlock-1.jpg);

}

@utility bg-secundary-banner {
  background-image: url(../../../../../assets/content/banners/sherlock-2.jpg);

}
